<!DOCTYPE html>

<html>
	<head>
		<link href="index.css" rel="stylesheet"/>
	</head>

	<body>
		<h1 class="page-title">Albums</h1>
		
		<div class="table">
			<table>
				<tr>
					<th>Title</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Year</th>
				</tr>
				<tr>
					<td><a th:href="@{/loginCustomer}">Login</a></td>
					<td><a th:href="@{/loginClerk}">Login</a></td>
				</tr>
				<tr>
					<td><a th:href="@{/signupCustomer}">Signup</a></td>
					<td><a th:href="@{/signupClerk}">Signup</a></td>
				</tr>
			
			</table>
		</div>
	
	</nav>
	</body>
</html>