<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Albums Management System</title>
</head>
<body>
<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>
		
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Albums Management System</h1>
	<div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">
		<a href="new">Create New Album</a>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Album ID</th>
				<th>Title</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Label</th>
				<th>Year</th>
				
				<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="album : ${listAlbums}">
				<td th:text="${album.id}">Album ID</td>
				<td th:text="${album.title}">Title</td>
				<td th:text="${album.artist}">Artist</td>
				<td th:text="${album.genre}">Genre</td>
				<td th:text="${album.label}">Label</td>
				<td th:text="${album.year}">Year</td>
				
				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<a th:href="@{'/edit/' + ${album.id}}">Edit</a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{'/delete/' + ${album.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>